@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?9u9nja');
	src:url('../fonts/icomoon.eot?#iefix9u9nja') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?9u9nja') format('truetype'),
		url('../fonts/icomoon.woff?9u9nja') format('woff'),
		url('../fonts/icomoon.svg?9u9nja#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="stm-icon-"], [class*=" stm-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stm-icon-tooth-3:before {
  content: "\e60a";
}
.stm-icon-dental-review:before {
  content: "\e900";
}
.stm-icon-pair-of-molars:before {
  content: "\e901";
}
.stm-icon-tooth:before {
  content: "\e902";
}
.stm-icon-damaged-tooth:before {
  content: "\e903";
}
.stm-icon-molar-with-cavity:before {
  content: "\e904";
}
.stm-icon-molar-1:before {
  content: "\e905";
}
.stm-icon-molar-and-roots:before {
  content: "\e906";
}
.stm-icon-molar:before {
  content: "\e907";
}
.stm-icon-tooth-6:before {
  content: "\e622";
}
.stm-icon-medical-2:before {
  content: "\e908";
}
.stm-icon-medical-1:before {
  content: "\e909";
}
.stm-icon-molar-tooth:before {
  content: "\e90a";
}
.stm-icon-medical-4:before {
  content: "\e90b";
}
.stm-icon-medical-3:before {
  content: "\e90c";
}
.stm-icon-tooth-12:before {
  content: "\e608";
}
.stm-icon-dental-prosthesis:before {
  content: "\e90d";
}
.stm-icon-implants:before {
  content: "\e90e";
}
.stm-icon-fake-tooth:before {
  content: "\e90f";
}
.stm-icon-implants-1:before {
  content: "\e910";
}
.stm-icon-implants-2:before {
  content: "\e911";
}
.stm-icon-medical:before {
  content: "\e912";
}
.stm-icon-premolar:before {
  content: "\e913";
}
.stm-icon-premolar-1:before {
  content: "\e914";
}
.stm-icon-teeth:before {
  content: "\e915";
}
.stm-icon-tooth-8:before {
  content: "\e624";
}
.stm-icon-tooth-1:before {
  content: "\e916";
}
.stm-icon-molar-inside-a-shield:before {
  content: "\e917";
}
.stm-icon-tooth-2:before {
  content: "\e609";
}
.stm-icon-tooth-7:before {
  content: "\e623";
}
.stm-icon-tooth-5:before {
  content: "\e60e";
}
.stm-icon-tooth-4:before {
  content: "\e60d";
}
.stm-icon-canine:before {
  content: "\e918";
}
.stm-icon-braces:before {
  content: "\e919";
}
.stm-icon-decay-in-a-tooth:before {
  content: "\e91a";
}
.stm-icon-dental-drill:before {
  content: "\e91b";
}
.stm-icon-toothpaste:before {
  content: "\e91c";
}
.stm-icon-brush-tool:before {
  content: "\e625";
}
.stm-icon-round-test-tube:before {
  content: "\e91d";
}
.stm-icon-doctor-suitcase:before {
  content: "\e91e";
}
.stm-icon-medicine-pill:before {
  content: "\e91f";
}
.stm-icon-prick:before {
  content: "\e626";
}
.stm-icon-map-marker:before {
  content: "\e610";
}
.stm-icon-clipboard-with-check-marks:before {
  content: "\e920";
}
.stm-icon-calculator:before {
  content: "\e607";
}
.stm-icon-computer:before {
  content: "\e60b";
}
.stm-icon-sertificate:before {
  content: "\e60c";
}
.stm-icon-clock:before {
  content: "\e606";
}
.stm-icon-roundels:before {
  content: "\e605";
}
.stm-icon-search:before {
  content: "\e600";
}
.stm-icon-chevron-left:before {
  content: "\e601";
}
.stm-icon-chevron-top:before {
  content: "\e602";
}
.stm-icon-chevron-right:before {
  content: "\e603";
}
.stm-icon-chevron-bottom:before {
  content: "\e604";
}
.stm-icon-angle-left:before {
  content: "\e611";
}
.stm-icon-angle-top:before {
  content: "\e612";
}
.stm-icon-angle-bottom:before {
  content: "\e613";
}
.stm-icon-angle-right:before {
  content: "\e614";
}
.stm-icon-list:before {
  content: "\e615";
}
.stm-icon-badge:before {
  content: "\e616";
}
.stm-icon-calendar:before {
  content: "\e617";
}
.stm-icon-eye:before {
  content: "\e618";
}
.stm-icon-comments:before {
  content: "\e619";
}
.stm-icon-man:before {
  content: "\e60f";
}
.stm-icon-user:before {
  content: "\e61a";
}
.stm-icon-reply:before {
  content: "\e61b";
}
.stm-icon-layers:before {
  content: "\e61c";
}
.stm-icon-clock-2:before {
  content: "\e61d";
}
.stm-icon-arrow-top-bottom:before {
  content: "\e61e";
}
.stm-icon-arrow-bottom:before {
  content: "\e61f";
}
.stm-icon-arrow-top:before {
  content: "\e620";
}
.stm-icon-med-records:before {
  content: "\e621";
}
.stm-icon-expand:before {
  content: "\e627";
}
